.App {
  text-align: center;
}

/* responsive design */
@media screen and (max-width: 500px) {
  .flex {
    display: flex;
    justify-content: center;
  }
}

.App-header {
  text-decoration: none;
  background-color: #181b20;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 10px;
  padding-left: 6%;
}

.flex {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

body {
  background-color: #282c34ad;
}

.collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;

}

.gaming {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;
}

.homeBtn {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 600px) {}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.layout {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 105%;
    text-align: center;
    background-color: #f1f1f172;
    margin: 5%;
    color: black;
}

.cards {
    text-decoration: none;
    color: black;
}